/* 录入信息样式 */
.wrap-cont-box{
	width: 100%;
	height: auto;
}
.main-cont-box{
	width: 100%;
	height: 6.75rem;
	margin-top: 1.25rem;
	border-radius: 15px;
	background:rgba(255,255,255,1);
	box-shadow: 0px 6px 10px 1px rgba(59,159,218,0.24);
	background-color: #FFFFFF;
}
.L-cont-box{
	width: 70%;
	height: auto;
	float: left;
}
.L-cont-box > h2{
	color: #4779fe;
	font-size: 1.8rem;
	margin: 1.3rem;
}
.R-cont-box{
	width: 30%;
	height: 100%;
	border-radius: 0 15px 15px 0;
	background-color: #ff5310;
	float: right;
}
.R-cont-box > h2{
	color: #FFFFFF;
	font-size: 3rem;
}