/* 个人中心样式 */
.wrap-headimg-box{
	width: 100%;
	height: 18rem;
	background: url(../images/user-head.png) no-repeat center;
	background-size: 100%;
	position: relative;
}
.main-headimg-box{
	
}
.main-headimg-box > h2{
	margin-top: 1rem;
	font-size: 2rem;
	color: #FFFFFF;
}

.wrap-cont-box{
	width: 100%;
	height: auto;
	position: absolute;
	top: 14%;
}
.message-cont-box{
	width: 100%;
	height: 15rem;
	margin-top: 1.25rem;
	border-radius: 15px;
	background:rgba(255,255,255,1);
	box-shadow: 0px 6px 10px 1px rgba(59,159,218,0.24);
	background-color: #FFFFFF;
}
.message-cont-one{
	width: 100%;
	height: 5rem;
}
.message-cont-one .title-img-box{
	width: 40%;
	height: auto;
	margin-left: 3rem;
	position: relative;
}
.message-cont-one .title-img-box .title-img{
	width: 70px;
	height: 70px;
	position: absolute;
	/* background-color: red; */
	top: -35px;
	left: 0;
	right: 0;
	border-radius: 35px;
	border: 1px solid #7c9ffe;
}
.message-cont-one .cont-one-box{
	padding-top: 1.5rem;
}
.message-cont-one .cont-one-box .xinxi-box{
	display: inline-block;
	color: #ffa810;
}
.message-cont-one .cont-one-box .xinxi-box p{
	display: inline-block;
	margin-right: 0.5rem;
	vertical-align: middle;
	margin-bottom: 0;
}
.message-cont-one .cont-one-box .xinxi-box p>img{
	width: 25px;
	height: 20px;
}
.message-cont-one .cont-one-box > h3{
	display: inline-block;
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 550;
	width: 40%;
	padding-left: 3.2rem;
}
.message-cont-one .cont-one-box > p{
	display: inline-block;
	margin-bottom: 0;
	vertical-align:bottom;
}
.message-cont-two{
	margin-top: 0.5rem;
}
.message-cont-two .row{
	width: 100%;
	margin: 0 auto;
}
.message-cont-two h3{
	margin-bottom: 0;
	color: #ffa810;
}
.message-cont-two .wh-cont{
	
}
.message-cont-two .add-cont{}
.mima-cont-box{
	width: 100%;
	height: 5rem;
	margin-top: 1.25rem;
	border-radius: 15px;
	background:rgba(255,255,255,1);
	box-shadow: 0px 6px 10px 1px rgba(59,159,218,0.24);
	background-color: #FFFFFF;
	align-items: center;
	vertical-align: middle;
	padding: 1rem;
}
.mima-cont-box > p:first-child{
	width: 20%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5rem;
	margin: 0.5rem;
}
.mima-cont-box > p:nth-child(2){
	width: 50%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5rem;
	margin: 0.5rem;
}
.mima-cont-box > p > img{
	width: 23px;
	height: 24px;
	
}
.btn-cont-box{
	width: 100%;
	height: auto;
	margin-top: 2rem;
}
.btn-cont-box > button{
	width: 80%;
	height: auto;
	border-radius: 15px;
	border: none;
	display: block;
	margin: 1.2rem auto;
	background: -webkit-linear-gradient(left, #4779fe , #57a3f9); 
	background: -o-linear-gradient(right, #4779fe, #57a3f9);
	background: -moz-linear-gradient(right, #4779fe, #57a3f9);
	background: linear-gradient(to right, #4779fe , #57a3f9);
}
.btn-cont-box .btn{
	outline: none !important;
}